.contactList {
  width: 280px;
  font-size: calc(12px + 0.5vmin);

  @media screen and( min-width:480px) {
    width: 320px;
  }
  @media screen and( min-width:768px) {
    width: 520px;
    font-size: calc(14px + 0.5vmin);
  }
}

td {
  // border: 1px solid blue;
  text-align: center;
}
.contactBtn {
  text-align: right;

  & .btn {
    // padding: 2px 10px;
    font-size: calc(14px + 0.5vmin);
    border: none;
    background: white;
    cursor: pointer;
  }
}
